.footerbody{
    height: 100%;
    width: 100%;
    display: flex;
    border-top-left-radius: 200px 180px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.187);
    background-color:rgba(85, 0, 255, 0.13)
}
.footerbodyone{
    width: 50%;
    display: flex;
}
.footerIconSetf{
    height: 30px;
    width: 30px;
    font-size: 20px;
    margin: 3px;
    background-color: aliceblue;
    color: black;
    border-radius: 50%;
}
.ficon{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bodyftop{
    height: 80px;
}
.bodyf{
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bodys{
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#txt{
    margin-top: 40%;
}
.footerbodytwo{
    width: 50%;
    display: flex;
}

.bodyth{
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.bodyfo{
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
@media screen and (min-height: 850px) {
    .footerbodyone{
        width: 100%;
        display: flex;
        
    }
    .footerbodytwo{
        width: 100%;
        display: flex;
    }
    
}



/*
<div className='footerbodyf'>
                <div className='footerscientistxicon'>
                    <img src={png} height="120px" width="auto" />
                </div>
                <div className='footertxt'>
                    <p>This is the site for something new innovation.You can build with us any project.</p>
                </div>
                <div className='footerIconSetbox'>
                    <div className='footerIconSets'>
                        <div className='footerIconSetf'>
                            <FontAwesomeIcon icon="fa-brands fa-facebook-f" />
                        </div>
                        <div className='footerIconSetf'>
                            <FontAwesomeIcon icon={faTwitter} />
                        </div>
                        <div className='footerIconSetf'>
                            <FontAwesomeIcon icon={faInstagram} />
                        </div>
                        <div className='footerIconSetf'>
                            <FontAwesomeIcon icon={faYoutube} />
                        </div>
                    </div>
                </div>
</div>



<p className='footerbodystxt'>ABOUT<br />SERVICES<br />JOB OPPORTUNITIES<br />CALENDER OF EVENTS<br />LOCATION</p>
*/