.footerbody{
    height:100%;
    width: 100%;
    display: flex;
    border-top-left-radius: 215px 215px ;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.187);
    background-color:rgba(85, 0, 255, 0.13);
    text-align: center;
    
}
.footerbodyf{
    height: auto;
    width:24.5%;
    border-top-left-radius: 215px 215px ;
    margin: 1px;
}
.footerbodys{
    height: auto;
    width: 24%;
    background-color: rgb(24, 98, 168);
    margin: 1px;
}
.footerbodystxt{
    margin-top: 50%;
}
.footerbodyt{
    height: auto;
    width:24%;
    background-color: rgb(71, 100, 76);
    margin: 1px;
}
.footerbodyfo{
    height: auto;
    width: 24%;
    background-color: rgb(121, 114, 58);
    margin: 1px;
}
.footerscientistxicon{
    height: 35%;
    margin-left: 10px;
    width: 95%;
    border-top-left-radius: 200px 200px ;
    margin-top: 25%;
}
.footerIconSetbox{
    height: 25%;
    width: auto;
    justify-content: center;
    align-items: center;
}
.footertxt{
    height:25%;
    width: auto;
    color: rgb(250, 250, 250);
}
.footerIconSets{
    height: 250px;
    width: 250px;
    display: flex;
    margin: 2px;

}
.footerIconSetf{
    font-size: 30px;
    height: 43px;
    width: 50px;
    margin: 5%;
    color: black;
    background-color: aliceblue;
    border-radius: 50%;
    
}
