.overall{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.leftportion{
    height: auto;
    width: 370px;
    justify-content: center;
    align-items: center;
    margin: 35px;
}

.rightportion{
    height: 60%;
    width: 370px;
    justify-content: center;
    align-items: center;
    margin: 35px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.459);
    border-radius: 5px;
}

.leftheader{
    height: 80px;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}

.leftheader1{
    height: 90px;
    width: 100%;
    font-size: 15px;
    margin-top: 5px;
}

.leftph{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.leftph img{
    margin: 5px;
}
.digital{
    height: 40px;
    width: 160px;
    font-weight: bold;
    font-size: large;
    margin: 5px;
    text-align: center;
}

.digitaldescription{
    height: 80px;
    width: 100%;
}