.boxx{
    display: flex;
}

.txt{
    text-align: center;
    color:aliceblue
}

.box{
    height: 300px;
    width: 300px; 
    margin: 10px;
    
    border-radius: 7px;
    box-shadow: 2px 2px 10px black;
    
}

.boxxx{
    margin: auto;
    margin-top:120px;
    height: 50px;
    width: 50px;
    border: 5px solid rgb(198, 152, 216);
    justify-content: center;
    background-color: rgb(129, 66, 141);
    border-radius: 50%;
    
}
.boxxxx{

    height: 40px;
    width: 40px;
    background-color: rgb(151, 35, 197);
    border-radius:50%;
    
}
#f{
    color: rgb(245, 243, 243);
    margin-left: 13px;
    font-size: 25px;
    font-weight: bold;
}
.txtxt{
    width:auto;
    height:auto;
    margin-top: 30px;
    
}
.t{
    color: rgb(255, 255, 255);
    
}

.box,
.boxx,
.boxxx,
.boxxxx:hover{

}
