.container {
    margin: 0 auto;
    padding: 40px;
    color: rgb(0, 0, 0);
    display: inline-block;
    width: 90%;
}

.container h1 {
    text-align: center;
}

.slide {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.slide-left {
    width: 300px;
    float: left;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-right {
    width: 350px;
    float: left;
    margin-left: 5%;
}

.send-button {
    margin-left: 45%;
}
.slide-right h3{
    margin: 0px;
}