@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the width and color of the scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  /* Define the track (background) color of the scrollbar */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
  }
  
  /* Define the thumb (handle) of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #275278; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners of the scrollbar thumb */
  }
  
  /* Define the hover style of the scrollbar thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #275278; /* Color of the scrollbar thumb on hover */
  }