@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro");
body { 
  font-family: 'Crimson Pro', serif;
  margin: 0;
}
.App{
  font-size: 30px;
  
}
.loader {
  position:absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-wrap: wrap;
  background-color:rgba(255, 255, 255, 0.701)
}
.loader div {
  width: 100%;
  text-align: center;
}